fastlane/Appfile
fastlane/Fastfile
fastlane/README.md
fastlane/report.xml
fastlane/actions/hockey_sparkle.rb
fastlane/sparkle/dsa_priv.pem
fastlane/sparkle/dsa_pub.pem
fastlane/sparkle/sign_update
Telegram-Mac/Config.swift
Telegram-Mac.xcworkspace/xcuserdata/telegram.xcuserdatad/UserInterfaceState.xcuserstate
Telegram-Mac.xcworkspace/xcuserdata/telegram.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Telegram.xcodeproj/xcuserdata/telegram.xcuserdatad/xcschemes/Hockeyapp.xcscheme
Telegram.xcodeproj/xcuserdata/telegram.xcuserdatad/xcschemes/Release.xcscheme
Telegram.xcodeproj/xcuserdata/telegram.xcuserdatad/xcschemes/Telegram.xcscheme
Telegram.xcodeproj/xcuserdata/telegram.xcuserdatad/xcschemes/xcschememanagement.plist
TGUIKit/TGUIKit.xcodeproj/xcuserdata/telegram.xcuserdatad/xcschemes/TGUIKit.xcscheme
TGUIKit/TGUIKit.xcodeproj/xcuserdata/telegram.xcuserdatad/xcschemes/xcschememanagement.plist
fastlane/AddVersion
fastlane/background.tiff
fastlane/background@2x.tiff
fastlane/commands
fastlane/create-dmg
fastlane/make-dmg.sh
fastlane/release_notes
fastlane/sample
fastlane/tgicon.icns
fastlane/builder/create-dmg.builder
fastlane/sparkle-beta/dsa_priv.pem
fastlane/sparkle-beta/dsa_pub.pem
fastlane/sparkle-beta/sign_update
fastlane/sparkle-release/dsa_priv.pem
fastlane/sparkle-release/dsa_pub.pem
fastlane/sparkle-release/sign_update
fastlane/support/dmg-license.py
fastlane/support/template.applescript
Telegram-Mac.xcworkspace/xcuserdata/keepcoder.xcuserdatad/UserInterfaceState.xcuserstate
Telegram.xcodeproj/xcuserdata/keepcoder.xcuserdatad/xcschemes/xcschememanagement.plist
TGUIKit/TGUIKit.xcodeproj/xcuserdata/keepcoder.xcuserdatad/xcschemes/xcschememanagement.plist
