//
//  Alpha.xcconfig
//  Telegram
//
//  Created by Mikhail Filimonov on 13/06/2019.
//  Copyright © 2019 Telegram. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


DSA_PEM_FILE = dsa_pub.pem

SIMPLE_SLASH=/

SFEED_URL = https:${SIMPLE_SLASH}/rink.hockeyapp.net/api/2/apps/f012091f35d947bbb3db9cbd3b0232d3
