//
//  Release.xcconfig
//  Telegram
//
//  Created by keepcoder on 14/03/2017.
//  Copyright © 2017 Telegram. All rights reserved.
//
#include "common.xcconfig"
DSA_PEM_FILE = dsa_pub_prod.pem
SFEED_URL = https:$(SIMPLE_SLASH)/mac-updates.telegram.org/updates/versions.xml
SOURCE = STABLE

TYPE = -D'STABLE'
OTHER_SWIFT_FLAGS = $(TYPE)
