DEFINES_MODULE = YES

VERSION_INFO_PREFIX = ""
VERSIONING_SYSTEM = "apple-generic"
CURRENT_PROJECT_VERSION = 1
INSTALL_PATH = $(LOCAL_LIBRARY_DIR)/Frameworks

MODULEMAP_FILE = $(SRCROOT)/$(PROJECT_NAME)/Support/$(APPCENTER_BUILD_PLATFORM).modulemap
INFOPLIST_FILE = $(PROJECT_NAME)/Support/Info.plist
MACH_O_TYPE = staticlib
