#include "./Tests.xcconfig"
#include "./macOS.xcconfig"

OTHER_LDFLAGS = $(OTHER_LDFLAGS) -framework AppKit
OTHER_LDFLAGS = $(OTHER_LDFLAGS) -framework GSS
OTHER_LDFLAGS = $(OTHER_LDFLAGS) -framework IOKit
OTHER_LDFLAGS = $(OTHER_LDFLAGS) -framework SecurityInterface

LD_RUNPATH_SEARCH_PATHS = @executable_path/Frameworks @loader_path/Frameworks $(TOOLCHAIN_DIR)/usr/lib/swift/macosx

// OCMock and OCHamcrest have a bunch of warnings so we just disable this only for testing.
GCC_TREAT_WARNINGS_AS_ERRORS = NO
