#include "./Tests.xcconfig"
#include "./iOS.xcconfig"

OTHER_LDFLAGS = $(OTHER_LDFLAGS) -framework AuthenticationServices
OTHER_LDFLAGS = $(OTHER_LDFLAGS) -framework CoreTelephony
OTHER_LDFLAGS = $(OTHER_LDFLAGS) -framework SafariServices
OTHER_LDFLAGS = $(OTHER_LDFLAGS) -framework UIKit
OTHER_LDFLAGS = $(OTHER_LDFLAGS) -framework WebKit

LD_RUNPATH_SEARCH_PATHS = @executable_path/Frameworks @loader_path/Frameworks

// OCMock and OCHamcrest have a bunch of warnings so we just disable this only for testing.
GCC_TREAT_WARNINGS_AS_ERRORS = NO
