#include "../../Config/App.xcconfig"

PRODUCT_NAME = $(TARGET_NAME)

DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION = 1
DYLIB_INSTALL_NAME_BASE = @rpath
INSTALL_PATH = $(LOCAL_LIBRARY_DIR)/Frameworks

ALWAYS_SEARCH_USER_PATHS = NO
CLANG_ENABLE_OBJC_ARC = YES
ENABLE_STRICT_OBJC_MSGSEND = YES
DEFINES_MODULE = YES
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks
SWIFT_OBJC_BRIDGING_HEADER = CrashLib/CrashLib-Bridging-Header.h
SWIFT_VERSION = 4.2
SWIFT_COMPILATION_MODE = wholemodule
GLOBAL_CFLAGS = -fno-optimize-sibling-calls
OTHER_CFLAGS = $(GLOBAL_CFLAGS)
GCC_NO_COMMON_BLOCKS = YES
